<mat-card>
  <table>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let employee of pageSlice" [routerLink]="['/employee/' + employee.employeeId]">
      <td>{{ employee.firstName }} {{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.city }}</td>
    </tr>
  </table>
  <mat-paginator [showFirstLastButtons]="true" [length]="allEmployees.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)" aria-label="Select page">
  </mat-paginator>

</mat-card>
<button (click)="openDialog()" matTooltip="Add User" class="add-employee-button" mat-fab color="primary"
  aria-label="Example icon button with a delete icon">
  <mat-icon>add</mat-icon>
</button>