<div class="dialog d-flex flex-column just-center">
    <span [ngClass]="{'login': isLoginMode, 'sign-up': !isLoginMode}" class="top-bot"></span>
    <form class="dialog-content d-flex flex-column align-center" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm, $event.submitter.id)">
        <div *ngIf="isLoginMode && signedUp" class="signed-up">
            Successfully signed up! Please fill in your password for login.
        </div>
       <div *ngIf="!isLoginMode" class="pos-rel full-width">
           <input #inputUsername="ngModel" type="text" id="username" name="username" placeholder="Username" ngModel required>
           <span *ngIf="!inputUsername.valid && inputUsername.touched" class="pos-rel warning-message">The username field is required</span>
        </div>
        <div class="pos-rel full-width">
            <input #inputEmail="ngModel" type="email" id="email" name="email" placeholder="E-Mail"  [(ngModel)]="email" required email>
            <span *ngIf="!inputEmail.valid && inputEmail.touched" class="pos-rel warning-message">The email field is required</span>
        </div>
        <div class="pos-rel full-width">
            <input #inputPassword="ngModel" type="password" id="password" ngModel name="password" placeholder="Password" required minlength="6">
            <span *ngIf="!inputPassword.valid && inputPassword.touched" class="pos-rel warning-message">The password field is required</span>
        </div>
        <button type="submit" [disabled]="!loginForm.valid" class="coolBeans" [ngClass]="{validForm: loginForm.valid}">{{isLoginMode ? 'Login' : 'Sign up'}}</button>
        <div *ngIf="isLoginMode" class="divider">
           <span>or</span> 
        </div>
        <button id="btn2" type="submit" *ngIf="isLoginMode" class="coolBeans guest-login">Login as Guest</button>
        <div *ngIf="error" class="error-message">
            {{error}}
        </div>
    </form>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>