$base-color: #A84353;

.dialog {
  position: absolute;
  width: 85%;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 38%;
  background-color: white;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}

.top-bot {
  position: absolute;
  top: -40px;
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;

  &.login {
    right: 70%;
  }

  &.sign-up {
    left: 70%;
  }
}

form {
  &.dialog-content {
    text-align: center;
    padding: 32px;
    width: 100%;
  }

  input {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #bbb8b8;
    outline: none;
  }

  input {
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: 20px;
  }

  input[type=email] {
    background-image: url('../../../assets/img/mail.png');
  }

  input[type=password] {
    background-image: url('../../../assets/img/key.png');
  }

  input[type=text] {
    background-image: url('../../../assets/img/user-login.png');
  }

  .coolBeans {
    border: 2px solid currentColor;
    cursor: pointer;
    border-radius: 1rem;
    color: $base-color;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
    padding: 0.7rem 2rem;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;

    &::after {
      content: '';
      background: linear-gradient(180deg, $base-color 0%, #363C56 84%);
      border-radius: 1rem;
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: .2s transform ease-out;
      will-change: transform;
      z-index: -1;

    }

    &:hover::after {
      transform: translate(0, 0);
    }

    &:hover {
      border: 2px solid transparent;
      color: white;
      transform: scale(1.05);
      will-change: transform;
    }
  }
}