<mat-card>
  <table>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let user of pageSlice" [routerLink]="['/user/' + user.customIdName]">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.city }}</td>
    </tr>
  </table>
  <mat-paginator [showFirstLastButtons]="true" [length]="allUsers.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)" aria-label="Select page">
  </mat-paginator>

</mat-card>
<button (click)="openDialog()" matTooltip="Add User" class="add-user-button" mat-fab color="primary"
  aria-label="Example icon button with a delete icon">
  <mat-icon>add</mat-icon>
</button>