<!-- <canvas id="line-chart"></canvas> -->
<div class="container">
    <div class="card">
      <div class="icon">
       <span appCountUp [count]="500" [duration]="3000" >0</span>
      </div>
      <div class="content">
        <h2>Finished Tasks</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis numquam, alias laborum eaque natus dolor totam perspiciatis adipisci ipsum rem amet nobis commodi placeat!</p>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <span appCountUp [count]="70" [duration]="3000" [timeout]="600">0</span>
      </div>
      <div class="content">
        <h2>New Projects</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis numquam, alias laborum eaque natus dolor totam perspiciatis adipisci ipsum rem amet nobis commodi placeat!</p>
      </div>
    </div>
    <div class="card">
      <div class="icon">
        <span appCountUp [count]="50" [duration]="3000" [timeout]="1100">0</span>
      </div>
      <div class="content">
        <h2>New Employees</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis numquam, alias laborum eaque natus dolor totam perspiciatis adipisci ipsum rem amet nobis commodi placeat!</p>
      </div>
    </div>
  </div>