/* You can add global styles to this file, and also import other style files */

html *{
    font-family: 'Quicksand', sans-serif !important;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

.d-flex {
    display: flex;
}

.just-between {
    justify-content: space-between;
}

.just-end {
    justify-content: end;
}

.flex-column {
    flex-direction: column;
}

.just-center {
    justify-content: center;
}

.align-center  {
    align-items: center;
}

.mr-16 {
    margin-right: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-20 {
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.pos-rel {
    position: relative;
}

.width-half {
    width: calc(50% - 8px);
}

.height-68 {
    height: 68%;
}