

.gradient {
    background: linear-gradient(-45deg, var(--base-color-light-blue), var(--base-color-dark-blue), var(--base-color-light-purple), var(--base-color-dark-purple));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form-wrapper {
    background-color: white;
    width: clamp(250px, 80%, 350px);
    height: 650px;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.7);

    h1 {
        text-align: center;
        margin: 32px 0 32px 0
    }

    h2 {
        color: white;
        cursor: pointer;
        display: inline-block;
    }

    .left-login,
    .right-signup {
        width: 50%;
    }
    
    .active-section {
        background: linear-gradient(180deg, var(--base-color-light-purple) 0%, var(--base-color-dark-blue) 84%);

        &.left-login {
            box-shadow: 3px 5px 11px -2px rgba(0, 0, 0, 0.5);
        }

        &.right-signup {
            box-shadow: -3px 5px 11px -2px rgba(0, 0, 0, 0.5);
        }
    }

    .inactive-section {
        h2 {
            color: #bbb8b8;
        }
    }

    .left-login {
        border-radius: 0 50px 50px 0;

        h2 {
            margin: 32px 0 0 16px;
        }
    }

    .right-signup {
        border-radius: 50px 0 0 50px;

        h2 {
            margin: 32px 16px 0 0;
            width: fit-content;
            align-self: end;
        }
    }

    h1 span {
        font-weight: 700;
        color: var(--base-color-dark-blue);
        font-size: 1.8rem;
    }
    

    .subtitle {
        font-size: 1.1rem;
        flex: 1 0 0;
    }

    .subtitle span {
        color: var(--base-color-light-purple);
        font-weight: 700;
        cursor: pointer;
    }
}