<div class="gradient d-flex just-center align-center">
    <div class="form-wrapper d-flex flex-column pos-rel">
        <h1><span>Simple</span>CRM</h1>
        <div class="d-flex just-between height-68">
            <div [ngClass]="{'active-section': isLoginMode, 'inactive-section': !isLoginMode}" class="left-login inactive-section">
                <h2 (click)="onSwitchMode('login')">Login</h2>
            </div>
            <div [ngClass]="{'active-section': !isLoginMode, 'inactive-section': isLoginMode}" class="right-signup d-flex flex-column">
                <h2 (click)="onSwitchMode('signup')">Sign up</h2>
            </div>
        </div>
        <div *ngIf="isLoginMode" class="subtitle d-flex just-center align-center">
            Don`t have an account?&nbsp;<span (click)="onSwitchMode('signup')">SIGN UP</span>
        </div>
        <app-login *ngIf="isLoginMode" [isLoginMode]="isLoginMode"></app-login>
        <app-signup *ngIf="!isLoginMode"></app-signup>
    </div>
</div>
<!-- <form *ngIf="!isLoading" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
<label for="email">E-Mail</label>
<input type="text" id="email" ngModel name="email" required email>
<hr>
<label for="password">Password</label>
<input type="password" id="password" ngModel name="password" required minlength="6">
<hr>
<button type="submit" [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
<hr>
<button type="button" (click)="onSwitchMode()">{{isLoginMode ? 'Switch to Signup' : 'Switch to Login'}}</button>
</form>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div *ngIf="error">
<p>{{error}}</p>
</div> -->